.btn-primary {
    --bs-btn-bg: var(--bs-pink);
    --bs-btn-border-color: var(--bs-pink);
    --bs-btn-hover-bg: #ad2a6c;
    --bs-btn-hover-border-color: #ad2a6c;
}

.navbar-brand {
    color: var(--bs-pink);
    transition: color 0.9s;
}

.page-link {
    color: var(--bs-pink);
}

.navbar-brand:hover {
    color: white;
}

.btn-primary:hover {
    border-width: 2px;
}

.card {
    --bs-card-border-radius: 1rem;
}

.card-title {
    font-size: 1.9rem;
}

.card-img-top {
    height: 180px;
    object-fit: contain;
    padding: 1.5rem;
}
